node_modules/
/test-results/

.vs/
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
/.vs/sittofit.dev/v17/.wsuo
/.vs/sittofit.dev/v17/DocumentLayout.backup.json
/.vs/sittofit.dev/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
