node_modules/
/test-results/

/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
/.vs/sittofit.dev/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
/.vs/sittofit.dev/FileContentIndex/118eb520-4476-437a-a85b-58e5e0cf3a0a.vsidx
/.vs/sittofit.dev/FileContentIndex/ca65c777-1833-4dc2-85c0-c7b2e65eb6f2.vsidx
/.vs/sittofit.dev/FileContentIndex/f2b643be-daba-416b-9917-77bb076c420a.vsidx
/.vs/slnx.sqlite
